@tailwind base;

/* Write your own custom base styles here */

/* for screen with a width below 640px, the navbar height is 74px and the footer height is 77px*/
.min-h-tripla {
  min-height: calc(100vh - 74px - 77px);
}

/* for screen with a width of 640px and above, the navbar height is 82px and the footer height is 60px*/
@media (min-width: 640px) {
  .min-h-tripla {
    min-height: calc(100vh - 82px - 60px);
  }
}

@tailwind components;

/* Write your own custom component styles here */

.ant-input, .ant-select-selector, .ant-picker, .ant-input-number {
  border-radius: .25rem !important;
}

.ant-picker {
  width: 100%;
}

.ant-form-item-explain {
  margin-bottom: 1rem;
}

.ant-input-disabled, .ant-select-disabled .ant-select-selection-item {
  color: #111827 !important;
  cursor: auto !important;
}

.ant-divider {
  margin: 0 !important;
}

@tailwind utilities;

/* Write your own custom utilities styles here */
